@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.5px solid red;git ad */
}



/* section {
  border: 2px solid red;
}
div {
  border: 2px solid green;
} */

.subtitle-container {
  @apply text-4xl font-bold mb-8 flex items-center justify-between ;
}

.subtitle-text {
  @apply  text-4xl font-bold;
}

.btn {
  @apply flex justify-center py-[50px];
}

.input {
  @apply w-full bg-transparent rounded-full border px-[30px] py-[25px] text-white  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-none
}

.white-section-padding {
  @apply py-[100px] sm:py-[150px]
}


.cube-wrap {
  perspective: 2000px; /* Увеличиваем глубину перспективы */
  perspective-origin: center left; /* Центрируем точку обзора */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cube-l {
  transform: rotateX(50deg) rotateY(-10deg) rotateZ(-20deg) scale(1)  translateX(-30%) translateY(-20%);
  transform-style: preserve-3d; /* Включает 3D-эффект */
  width: 2200px; /* Настраиваемая ширина */
  height: 900px; /* Настраиваемая высота */
  /* background: url('/mainpagescreen.png') no-repeat center/cover; */
  
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  position: relative;
}
.cube-m {
  transform: rotateX(50deg) rotateY(-10deg) rotateZ(-20deg) scale(1)  translateX(-30%) translateY(-20%);
  transform-style: preserve-3d; 
  width: 2200px; 
  height: 250px; 
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  position: relative;
}
.cube.laptop {
  transform: rotateX(40deg) rotateY(-10deg) rotateZ(-30deg) scale(0.8) translateX(-40%) translateY(-20%);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  z-index: 1;
}

.cube.mobile {
  transform: rotateX(40deg) rotateY(-10deg) rotateZ(-30deg) scale(0.8) translate(-7%, -40%);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Mobile Responsive Adjustments */
@media (max-width: 1150px) {
  .cube-wrap {
    perspective: 2000px; /* Увеличиваем глубину перспективы */
    perspective-origin: center left; /* Центрируем точку обзора */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .cube-l {
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(-20deg) scale(1)  translateX(-30%) translateY(-20%);
    transform-style: preserve-3d; /* Включает 3D-эффект */
    width: 2200px; /* Настраиваемая ширина */
    height: 900px; /* Настраиваемая высота */
    /* background: url('/mainpagescreen.png') no-repeat center/cover; */
    
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    position: relative;
  }
  .cube-m {
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(-20deg) scale(1)  translateX(-30%) translateY(-20%);
    transform-style: preserve-3d; 
    width: 2200px; 
    height: 250px; 
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    position: relative;
  }
  .cube.laptop {
    transform: rotateX(40deg) rotateY(-10deg) rotateZ(-30deg) scale(0.8) translateX(-52%) translateY(-20%);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    z-index: 1;
  }
  
  .cube.mobile {
    transform: rotateX(40deg) rotateY(-10deg) rotateZ(-30deg) scale(0.8) translate(-25%, -40%);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

}
/* Small Mobile Adjustments */
@media (max-width: 480px) {
  .cube-wrap {
    height: 50vh;
    perspective: 800px;
  }

  .cube-l {
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(-20deg) scale(0.2) translateX(-30%) translateY(-20%);
  }

  .cube-m {
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(-20deg) scale(0.2) translateX(-30%) translateY(-20%);
  }

  .cube.laptop {
    transform: rotateX(40deg) rotateY(-10deg) rotateZ(-30deg) scale(0.1) translateX(-40%) translateY(-20%);
  }

  .cube.mobile {
    transform: rotateX(40deg) rotateY(-10deg) rotateZ(-30deg) scale(0.1) translate(-7%, -40%);
  }
}